{% extends "base.html" %} {% block content %}

<div class="container-fluid pt-2" >
  <div class="row">
    <!-- Coluna de 20% -->
    <div class="col-2">
      <!-- Conteúdo da coluna de 30% -->
    
      <div class="d-grid gap-2 mt-2">
        <!-- Card 1 -->
        <div class="col-md-12 d-flex">
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="card-header bg-success text-white">Receita</div>
             <!-- <div class="col-md-3 d-flex align-items-center p-1">
                <img
                  src="{{ url_for('static', filename='images/img_bolsadinheiro.png') }}"
                  class="img-fluid"
                  alt="Imagem"
                />
              </div>
            -->
              <div class="col-md-12">
                <div class="card-body">
                  <p class="card-text">Fixo: {{ renda_fixa_total or 0.00 }}</p>
                  <p class="card-text">
                    Variável: {{ renda_variavel_total or 0.00 }}
                  </p>
                  <p class="card-text">Total: {{ renda_total or 0.00 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- Card 2 -->
  <div class="col-md-12 d-flex">
    <div class="card mb-3 w-100">
      <div class="row g-0">
        <div class="card-header bg-danger text-white">Despesas</div>
      <!--  <div class="col-md-3 d-flex align-items-center p-1">
          <img
            src="{{ url_for('static', filename='images/img_moedacaindo.png') }}"
            class="img-fluid"
            alt="Imagem"
          />
        </div> 
      -->
        <div class="col-md-12">
          <div class="card-body">
            <p class="card-text text-danger">
              Fixo: {{ custo_fixo_total or 0.00 }}
            </p>
            <p class="card-text text-danger">
              Variável: {{ custo_variavel_total or 0.00 }}
            </p>
            <p class="card-text text-danger">
              Total: {{ custo_total or 0.00 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="col-md-12 d-flex">
    <div class="card mb-3 w-100">
      <div class="row g-0">
        <div class="card-header bg-primary text-white ">Saldo</div>
       <!-- <div class="col-md-3 d-flex align-items-center p-1">
          <img
            src="{{ url_for('static', filename='images/img_renda-custos.png') }}"
            class="img-fluid"
            alt="Imagem"
          />
        </div>
        -->
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
            <p
              class="card-text {% if renda_minus_custos is none or renda_minus_custos|float >= 0 %}text-success{% else %}text-danger{% endif %}"
              style="font-size: 24px; margin: 0;"
            >
              {{ renda_minus_custos or 0.00 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
    <!-- Coluna de 70% -->
    <div class="col-10">
      <div class="row mt-2">
     
       
     
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lançamentos</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <!-- INICIO TABELA COM FILTRO -->
          <form id="filtro-form" class="row g-3 my-2">
            <div class="input-group mb-3">
              <span class="input-group-text">Ano</span>
              <select name="filtro-ano" id="filtro-ano" class="form-control">
                <!-- Adicione opções para os anos desejados -->
                {% for year in range(2025, 2028) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
             </select>
              <span class="input-group-text">Mês</span>
              <select name="filtro-mes" id="filtro-mes" class="form-control">
                <!-- Adicione opções para os meses -->
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
              <button id="botao_filtrar" type="button" class="btn btn-secondary" onclick="filtrar()">FILTRAR</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#novo_lancamento">
                Adicionar 
            </button>
            </div>
        </form>
            <table class="table table-bordered table-striped table-hover" id="tabela-transacoes">
                <thead class="table-secondary">
                    <tr>
                        <th>
                            <div class="d-flex flex-column">
                                <span>Origem</span>
                                <input type="text" class="form-control form-control-sm filtro" data-coluna="0" placeholder="Filtrar Origem">
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-column">
                                <span>Descrição</span>
                                <input type="text" class="form-control form-control-sm filtro" data-coluna="1" placeholder="Filtrar Descrição">
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-column">
                                <span>Custo</span>
                                <select class="form-select form-select-sm filtro" data-coluna="2">
                                    <option value="">Todos</option>
                                    <option value="Fixo">Fixo</option>
                                    <option value="Variável">Variável</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-column">
                                <span>Valor</span>
                                <input type="number" class="form-control form-control-sm filtro" data-coluna="3" placeholder="Filtrar Valor" step="0.01">
                            </div>
                        </th>
                        <th>
                          <div class="d-flex flex-column">
                              <span>Tipo</span>
                              <select class="form-select form-select-sm filtro" data-coluna="4">
                                  <option value="">Todos</option>
                                  <option value="Renda">Renda</option>
                                  <option value="Custo">Custo</option>
                              </select>
                          </div>
                      </th> 
                        <th>

                            <div class="d-flex flex-column">
                                <span>Data</span>
                             <!--   <input type="date" class="form-control form-control-sm filtro" data-coluna="4"> -->
                            </div>
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes_renda %}
                        <tr>
                            <td><strong>{{ transacao[1] }}</strong></td>
                            <td>{{ transacao[2] }}</td>
                            <td>{{ transacao[3] }}</td>
                            <td>{{ 'R${:,.2f}'.format(transacao[4])|replace(',', '@')|replace('.', ',')|replace('@', '.') }}</td>
                            <td>{{ transacao[6] }}</td>
                            <td>{{ transacao[5] }}</td>
                            <td>
                                <div class="d-flex gap-2">
                                  <button id="botao_editar" type="button" class="btn btn-sm btn-warning" 
                                            onclick="mostrarPopup('{{ transacao[0] }}','{{ transacao[1] }}','{{ transacao[2] }}','{{ transacao[3] }}','{{ transacao[4] }}','{{ transacao[5] }}')">
                                        Editar
                                    </button>
                                    <form class="excluir-form" action="{{ url_for('excluir_transacao', transacao_id=transacao[0]) }}" method="post" data-id="{{ transacao[0] }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button id="botao_excluir" type="submit" class="btn btn-sm btn-danger">Excluir</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <script>
              document.addEventListener('DOMContentLoaded', function () {
 
                const filtros = document.querySelectorAll('.filtro');
               console.log(filtros)
                filtros.forEach(filtro => {
                    filtro.addEventListener('input', function () {
                        const coluna = this.dataset.coluna;
                        const valorFiltro = this.value.toLowerCase();
                        const linhas = document.querySelectorAll('#tabela-transacoes tbody tr');

                        linhas.forEach(linha => {
                            const celula = linha.cells[coluna];
                            if (celula) {
                                const textoCelula = celula.textContent.toLowerCase();

                                if (filtro.type === 'date') {
                                    // Para filtros de data
                                    const valorFiltroDate = new Date(valorFiltro).toISOString().split('T')[0];
                                    const textoCelulaDate = textoCelula.split(' ')[0];

                                    if (textoCelulaDate === valorFiltroDate || valorFiltro === '') {
                                        linha.style.display = '';
                                    } else {
                                        linha.style.display = 'none';
                                    }
                                } else {
                                    // Para outros tipos de filtros
                                    if (textoCelula.includes(valorFiltro) || valorFiltro === '') {
                                        linha.style.display = '';
                                    } else {
                                        linha.style.display = 'none';
                                    }
                                }
                            }
                        });
                    });
                });
            });

            </script>
            
             
        </div>

      </div>
      

    </div>
  </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="novo_lancamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_titulo">Cadastro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{{ url_for('adicionar_transacao') }}" class="p-4recorrente">
                <input type="hidden" id="modal_transacao_id" name="transacao_id" value="">
            
                <div class="mb-3">
                    <label for="origem" class="form-label">Origem:</label>
                    <input type="text" id="origem" name="origem" class="form-control" required>
                </div>
            
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" required>
                </div>
            
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo despesas(Custo):</label>
                    <select id="tipo" name="tipo" class="form-select" required>
                        <option value="Fixo">Fixo</option>
                        <option value="Variável">Variável</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor:</label>
                    <input type="number" id="valor" name="valor" class="form-control" step="0.01" required>
                </div>
            
                <div class="mb-3">
                    <label for="modelo" class="form-label">Tipo entrada:</label>
                    <select id="modelo" name="modelo" class="form-select" required>
                        <option value="Renda">Receita</option>
                        <option value="Custo">Despesas</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="data" class="form-label">Data:</label>
                    <input type="date" id="data" name="data" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="despesa-recorente" class="form-label">Despesa recorrente:</label>
                    <select id="despesa-recorente" name="despesa-recorente" class="form-select" required>
                        <option value="Não">Não</option>
                        <option value="Sim">Sim</option>
                    </select>
                </div> 
                <div class="mb-3">
                    <label for="quantidade-recorrencia" class="form-label">Quantidade recorrência:</label>
                    <input type="number" id="quantidade-recorrencia" name="quantidade-recorrencia" class="form-control" step="1">
                </div> 
                <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit"  class="btn btn-primary">Enviar</button>
        </div>
    </form>
      </div>
    </div>
  </div>


<script>
    // Função para exibir os dados de acordo com o filtro aplicado
    function filtrar() {
        // Obtém os valores selecionados nos campos de filtro
        var filtroAno = document.getElementById('filtro-ano').value;
        var filtroMes = document.getElementById('filtro-mes').value;
    
        // Constrói a URL com os parâmetros de filtro
       var url = '/dashboard?filtro_ano=' + filtroAno + '&filtro_mes=' + filtroMes;
    
        // Redireciona para a URL filtrada
        window.location.href = url;
    }
    function mostrarPopup(transacaoId,origem, descricao, tipo, valor,data_selecionada  ) {


 
  var myModal = new bootstrap.Modal(document.getElementById('novo_lancamento'));
  document.getElementById('modal_transacao_id').value = transacaoId || '';
  document.getElementById('modal_titulo').innerText = "Edição";
  
  myModal.show();

  document.getElementById('origem').value = origem;
  document.getElementById('descricao').value = descricao;
  document.getElementById('tipo').value = tipo;
  document.getElementById('valor').value = valor;
  document.getElementById('modelo').value = "Renda";

  if (data_selecionada) {
      // Ajusta o formato da data de 'd/m/ano' para 'yyyy-mm-dd'
      let partesData = data_selecionada.split('/'); // Divide a data no formato 'd/m/ano'
      let formattedDateString = `${partesData[2]}-${partesData[1]}-${partesData[0]}`; // Formata como 'yyyy-mm-dd'
      
      // Atribui ao campo de data
      document.getElementById('data').value = formattedDateString;
  }

  myModal.show();
      

  }

</script>
{% endblock %}
  </div>