<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wolfx Finance | Dashboard </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="barraNavegacao">
        <div class="conteiner_logo">
            <img src="{{ url_for('static', filename='images/logo_nik0.png') }}" id="logo_projeto">
        </div>
        <div class="conteiner_botao">
            <a href="{{ url_for('gestao_usuarios') }}" id="link_gestao_usuarios">USUÁRIOS</a>
            
            <a id="barra">|</a>
            <form method="post" action="{{ url_for('logout') }}" id="form_logout">
                <input type="submit" value="SAIR">
            </form>
        </div>
    </div>

    <div class="filtros">
        <form id="filtro-form">
            <label for="filtro-ano">Filtrar por Ano:</label>
            <select name="filtro-ano" id="filtro-ano">
                <!-- Adicione opções para os anos desejados -->
                {% for year in range(2025, 2028) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        
            <label for="filtro-mes">Filtrar por Mês:</label>
            <select name="filtro-mes" id="filtro-mes">
                <!-- Adicione opções para os meses -->
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        
            <button id="botao_filtrar" type="button" onclick="filtrar()">FILTRAR</button>
        </form>
    </div>
   
    <div class="cards">
        <div class="card_1">
            <!-- Lado esquerdo com a imagem -->
            <div class="card-img">
                <img src="{{ url_for('static', filename='images/img_bolsadinheiro.png') }}" id="logo_projeto">
            </div>
        
            <!-- Lado direito com as informações -->
            <div class="card-info">
                <p><strong>Valor total de Renda Fixa:</strong></p>
                <span id="renda-fixa-valor">{{ renda_fixa_total or 0.00 }}</span>
                <p><strong>Valor total de Renda Variável:</strong></p>
                <span id="renda-variavel-valor">{{ renda_variavel_total or 0.00 }}</span>
                <p id="valor_total"><strong>Valor Total: <span id="valor-total">{{ renda_total or 0.00 }}</strong></span></p>
            </div>
        </div>
        <div class="card_2">
            <!-- Lado esquerdo com a imagem -->
            <div class="card-img">
                <img src="{{ url_for('static', filename='images/img_moedacaindo.png') }}" id="logo_projeto">
            </div>
        
            <!-- Lado direito com as informações -->
            <div class="card-info">
                <p><strong>Valor total de Custo Fixo:</strong></p>
                <span id="custo-fixo-valor">{{ custo_fixo_total or 0.00 }}</span>
                <p><strong>Valor total de Custo Variável:</strong></p>
                <span id="custo-variavel-valor">{{ custo_variavel_total or 0.00 }}</span>
                <p id="valor_total"><strong>Valor Total: <span id="valor-total-custo">{{ custo_total or 0.00 }}</strong></span></p>
            </div>
        </div>
        <div class="card_3">
            <!-- Lado esquerdo com a imagem -->
            <div class="card-img">
                <img src="{{ url_for('static', filename='images/img_renda-custos.png') }}" id="logo_projeto">
            </div>
        
            <!-- Lado direito com as informações -->
            <div class="card-info">
                <p id="renda-minus-custos"><strong>Diferença entre Renda e Custos:</strong></p> 
                <span id="valor_renda-custos">
                    <strong>{{ renda_minus_custos or 0.00 }}</strong>
                </span>
            </div>
        </div>
    </div>
    <button class="button" id="botao_abrir_popup" onclick="mostrarPopup()">Novo Lançamento</button>
    

    <div class="tabelas-container">
        <div class="tabela-renda">
            <h2>Tabela de Rendas</h2>
            <table>
                <thead>
                    <tr>
                        <th class="sortable">Origem</th>
                        <th>Descrição</th>
                        <th class="sortable">Tipo</th>
                        <th>Valor</th>
                        <th class="sortable">Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes_renda %}
                        <tr>
                            <td><strong>{{ transacao[1] }}</strong></td>
                            <td>{{ transacao[2] }}</td>
                            <td>{{ transacao[3] }}</td>
                            <td>{{ 'R${:,.2f}'.format(transacao[4])|replace(',', '@')|replace('.', ',')|replace('@', '.') }}</td>
                            <td>{{ transacao[5] }}</td>
                            <td>
                                <button id="botao_editar" type="button" onclick="mostrarPopup({{ transacao[0] }})">Editar</button>

                                <form class="excluir-form" action="{{ url_for('excluir_transacao', transacao_id=transacao[0]) }}" method="post" data-id="{{ transacao[0] }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button id="botao_excluir" type="submit">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tabela-custo">
            <h2>Tabela de Custos</h2>
            <table>
                <thead>
                    <tr>
                        <th class="sortable">Origem</th>
                        <th>Descrição</th>
                        <th class="sortable">Tipo</th>
                        <th>Valor</th>
                        <th class="sortable">Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes_custo %}
                        <tr>
                            <td><strong>{{ transacao[1] }}</strong></td>
                            <td>{{ transacao[2] }}</td>
                            <td>{{ transacao[3] }}</td>
                            <td>{{ 'R${:,.2f}'.format(transacao[4])|replace(',', '@')|replace('.', ',')|replace('@', '.') }}</td>
                            <td>{{ transacao[5] }}</td>
                            <td>
                                <button id="botao_editar" type="button" onclick="mostrarPopup({{ transacao[0] }})">Editar</button>
                                <form class="excluir-form" action="{{ url_for('excluir_transacao', transacao_id=transacao[0]) }}" method="post" data-id="{{ transacao[0] }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button id="botao_excluir" type="submit">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

   
    <div class="popup" id="popupAdicionarTransacao">
        <div class="popup" id="popupAdicionarTransacao">
            <div class="adicionar-transacao">
                <span class="close-icon" onclick="fecharPopup()">X</span>
                <h2 id="modal_titulo">Adicionar Novos Dados</h2>
                <form method="post" action="{{ url_for('adicionar_transacao') }}">
                    <input type="hidden" id="modal_transacao_id" name="transacao_id" value="">
        
                    <label for="origem">Origem:</label>
                    <input type="text" id="origem" name="origem" required>
            
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" required>
            
                    <label for="tipo">Tipo:</label>
                    <select id="tipo" name="tipo" required>
                        <option value="Fixo">Fixo</option>
                        <option value="Variável">Variável</option>
                    </select>
            
                    <label for="valor">Valor:</label>
                    <input type="number" id="valor" name="valor" step="0.01" required>
            
                    <label for="modelo">Modelo:</label>
                    <select id="modelo" name="modelo" required>
                        <option value="Renda">Renda</option>
                        <option value="Custo">Custo</option>
                    </select>
            
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data" required>
            
                    <input type="submit" value="Enviar Dados">
                </form>
            </div>
        </div>
</body>
<script>
    // Função para exibir os dados de acordo com o filtro aplicado
    function filtrar() {
        // Obtém os valores selecionados nos campos de filtro
        var filtroAno = document.getElementById('filtro-ano').value;
        var filtroMes = document.getElementById('filtro-mes').value;
    
        // Constrói a URL com os parâmetros de filtro
        var url = '/dashboard?filtro_ano=' + filtroAno + '&filtro_mes=' + filtroMes;
    
        // Redireciona para a URL filtrada
        window.location.href = url;
    }
    // Função para ordenar as tabelas quando o cabeçalho é clicado
    $(document).ready(function () {
        $('th.sortable').click(function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });

        // Função para comparar os valores nas colunas
        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
            };
        }

        // Função para obter o valor da célula
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
    // Função para abrir o modal de nova/editar transacao
    function mostrarPopup(transacaoId, titulo = 'Editar Dados') {
        var popup = document.getElementById('popupAdicionarTransacao');
        popup.style.display = 'flex';

        // Preencher o campo transacao_id
        document.getElementById('modal_transacao_id').value = transacaoId || '';

        // Lógica para obter os dados da transação do servidor usando AJAX
        if (transacaoId) {

            // Alterar dinamicamente o título do modal
            document.getElementById('modal_titulo').innerText = titulo;

            // Exemplo usando jQuery AJAX para obter dados da transação ao editar
            $.ajax({
                url: '/obter_dados_transacao/' + transacaoId,
                method: 'GET',
                success: function (data) {
                    // Preencher os campos do formulário no modal com os dados obtidos
                    document.getElementById('origem').value = data.origem;
                    document.getElementById('descricao').value = data.descricao;
                    document.getElementById('tipo').value = data.tipo;
                    document.getElementById('valor').value = data.valor;
                    document.getElementById('modelo').value = data.modelo;
                    document.getElementById('data').value = data.data;
                },
                error: function (error) {
                    console.error('Erro ao obter dados da transação: ' + error);
                }
            });
        } else {
            // Limpar os campos do formulário ao adicionar uma nova transação
            document.getElementById('origem').value = '';
            document.getElementById('descricao').value = '';
            document.getElementById('tipo').value = 'Fixo'; // Valor padrão, ajuste conforme necessário
            document.getElementById('valor').value = '';
            document.getElementById('modelo').value = 'Renda'; // Valor padrão, ajuste conforme necessário
            document.getElementById('data').value = '';
        }
    }
    // Função para fechar o modal de nova/editar transacao
    function fecharPopup() {
        var popup = document.getElementById('popupAdicionarTransacao');
        popup.style.display = 'none';

        // Resetar o título para "Adicionar Novos Dados" ao fechar
        document.getElementById('modal_titulo').innerText = 'Adicionar Novos Dados';
    }
    // Esconder a div adicionar-transacao inicialmente
    document.getElementById('popupAdicionarTransacao').style.display = 'none';
    
    // Script para enviar a solicitação de exclusão
    document.addEventListener('DOMContentLoaded', function () {
        // Adiciona um evento de clique para os botões de exclusão
        document.querySelectorAll('.excluir-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                // Obtém o ID da transação a partir do atributo data-id
                var transacaoId = button.dataset.id;
    
                // Encontra a linha da tabela correspondente e a remove
                var row = button.closest('tr');
                if (row) {
                    fetch('/excluir_transacao/' + transacaoId, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Transação excluída com sucesso:', data);
    
                        // Recarrega a página após a exclusão
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Erro ao excluir transação:', error);
                    });
                }
            });
        });
    });

    
    
        
    
    
    
</script>
